.carousel-item img {
  max-height: 100vh;
  object-fit: cover;
}

.top-right {
  position: absolute;
  top: 10%;
  right: 15%;
  z-index: 10;
  color: white;
  font-size: 3em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.top-left {
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 10;
  color: white;
  font-size: 3em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.bottom-right {
  position: absolute;
  bottom: 10%;
  right: 15%;
  z-index: 10;
  color: white;
  font-size: 3em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.seta-fdp {
  margin-left: 15px;
  width: 94px;
  height: 94px;
  fill: white;
  transition: fill 0.3s;
}
.seta-fdp:hover {
  fill: #5d02e0;
}
.carousel-item {
  transition: transform 1s ease;
}

.vertical.carousel .carousel-item {
  overflow: hidden;
}

.vertical.carousel .carousel-item-next:not(.carousel-item-start),
.vertical.carousel .active.carousel-item-end {
  transform: translateY(100%);
}

.vertical.carousel .carousel-item-prev:not(.carousel-item-end),
.vertical.carousel .active.carousel-item-start {
  transform: translateY(-100%);
}

.vertical.carousel .carousel-indicators {
  top: 0;
  left: unset;

  margin-left: unset !important;
  margin-right: 1rem;

  flex-direction: column;
}

.vertical.carousel .carousel-indicators [data-bs-target] {
  height: 30px;
  width: 3px;
}

.vertical.carousel .carousel-control-prev,
.vertical.carousel .carousel-control-next {
  width: 100%;
  height: 60px;
}

.vertical.carousel .carousel-control-prev-icon,
.vertical.carousel .carousel-control-next-icon {
  transform: rotateZ(90deg);
}

.vertical.carousel .carousel-control-next {
  top: unset;
  bottom: 0;
}
